<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
	<rewrite>
      <rules>
        <clear />
        
        <rule name="OrgAndApp" enabled="true">
          <match url="(^.*?)/?([@!][A-Za-z0-9\-]*)/?([@!][A-Za-z0-9\-]*)?/?(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="{R:1}/{R:4}?p1={R:2}&amp;p2={R:3}" />
        </rule>
        
        </rules>
    </rewrite>
	
    <caching enabled="false" />
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>